
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
    display: block;
    background-color: #eee;
    width: 100%;
    height: 100%;
}

#formulaText.invalid {
    color: red;
    text-decoration: underline;
    background-color: rgba(250, 57, 57, 0.16);
    border-radius: 40px;
}
